In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in d:\study material\python\pyspark\.venv\lib\site-packages (4.0.1)
Requirement already satisfied: py4j==0.10.9.9 in d:\study material\python\pyspark\.venv\lib\site-packages (from pyspark) (0.10.9.9)

In [2]:
import pyspark

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [5]:
spark

In [12]:
df_pyspark=spark.read.option('header','true').csv('test2.csv', inferSchema=True)

In [ ]:
## check the schema

In [13]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [14]:
df_pyspark=spark.read.csv('test2.csv',header=True, inferSchema=True)
df_pyspark.show()

+---------+---+----------+
|     Name|age|Experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         8|
|    Sunny| 29|         4|
+---------+---+----------+

In [15]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [16]:
type(df_pyspark)

pyspark.sql.classic.dataframe.DataFrame

In [ ]:
#selecting columns and indexing

In [18]:
df_pyspark.head(3)

[Row(Name='Krish', age=31, Experience=10),
 Row(Name='Sudhanshu', age=30, Experience=8),
 Row(Name='Sunny', age=29, Experience=4)]

In [19]:
df_pyspark.show()

+---------+---+----------+
|     Name|age|Experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         8|
|    Sunny| 29|         4|
+---------+---+----------+

In [22]:
df_pyspark.select(['Name', 'age', 'Experience']).show()

+---------+---+----------+
|     Name|age|Experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         8|
|    Sunny| 29|         4|
+---------+---+----------+

In [23]:
df_pyspark['Name']

Column<'Name'>

In [ ]:
# check data types

In [24]:
df_pyspark.dtypes

[('Name', 'string'), ('age', 'int'), ('Experience', 'int')]

In [ ]:
# Check describe option similar to pandas

In [25]:
df_pyspark.describe().show()

+-------+-----+----+-----------------+
|summary| Name| age|       Experience|
+-------+-----+----+-----------------+
|  count|    3|   3|                3|
|   mean| NULL|30.0|7.333333333333333|
| stddev| NULL| 1.0|3.055050463303893|
|    min|Krish|  29|                4|
|    max|Sunny|  31|               10|
+-------+-----+----+-----------------+

In [ ]:
# Adding columns in dataframe

In [38]:
df_pyspark=df_pyspark.withColumn('Experience After 2 years', df_pyspark['Experience'] + 2).show()

AttributeError: 'NoneType' object has no attribute 'withColumn'

In [34]:
df_pyspark.show()

AttributeError: 'NoneType' object has no attribute 'show'

In [ ]:
## Drop the columns

In [31]:
df_pyspark.drop('Experience After 2 years')

AttributeError: 'NoneType' object has no attribute 'drop'