In [16]:
!pip install pyspark

Requirement already satisfied: pyspark in d:\study material\python\pyspark\.venv\lib\site-packages (4.0.1)
Requirement already satisfied: py4j==0.10.9.9 in d:\study material\python\pyspark\.venv\lib\site-packages (from pyspark) (0.10.9.9)

In [17]:
import pyspark

In [18]:
from pyspark.sql import SparkSession

In [19]:
spark=SparkSession.builder.appName('Agg').getOrCreate()

In [20]:
spark

In [21]:
df_pyspark=spark.read.csv('test5.csv', header=True, inferSchema=True)

In [22]:
df_pyspark.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

## Groupby

In [23]:
df_pyspark.groupBy('Name').sum().show()

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

## Groupby Department which gives maximum Salary

In [24]:
df_pyspark.groupBy('Name').max().show()

+---------+-----------+
|     Name|max(salary)|
+---------+-----------+
|Sudhanshu|      20000|
|    Sunny|      10000|
|    Krish|      10000|
|   Mahesh|       4000|
+---------+-----------+

In [25]:
df_pyspark.agg({'Salary': 'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+