In [61]:
!pip install pyspark

Requirement already satisfied: pyspark in d:\study material\python\pyspark\.venv\lib\site-packages (4.0.1)
Requirement already satisfied: py4j==0.10.9.9 in d:\study material\python\pyspark\.venv\lib\site-packages (from pyspark) (0.10.9.9)

In [62]:
import pyspark

In [63]:
from pyspark.sql import SparkSession

In [64]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [65]:
spark

In [66]:
df_pyspark=spark.read.option('header','true').csv('test2.csv', inferSchema=True)

In [67]:
## check the schema

In [68]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [69]:
df_pyspark=spark.read.csv('test2.csv',header=True, inferSchema=True)
df_pyspark.show()

+---------+---+----------+
|     Name|age|Experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         8|
|    Sunny| 29|         4|
+---------+---+----------+

In [70]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [71]:
type(df_pyspark)

pyspark.sql.classic.dataframe.DataFrame

In [72]:
#selecting columns and indexing

In [73]:
df_pyspark.head(3)

[Row(Name='Krish', age=31, Experience=10),
 Row(Name='Sudhanshu', age=30, Experience=8),
 Row(Name='Sunny', age=29, Experience=4)]

In [74]:
df_pyspark.show()

+---------+---+----------+
|     Name|age|Experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         8|
|    Sunny| 29|         4|
+---------+---+----------+

In [75]:
df_pyspark.select(['Name', 'Experience']).show()

+---------+----------+
|     Name|Experience|
+---------+----------+
|    Krish|        10|
|Sudhanshu|         8|
|    Sunny|         4|
+---------+----------+

In [76]:
df_pyspark['Name']

Column<'Name'>

In [77]:
# check data types

In [78]:
df_pyspark.dtypes

[('Name', 'string'), ('age', 'int'), ('Experience', 'int')]

In [79]:
# Check describe option similar to pandas

In [80]:
df_pyspark.describe().show()

+-------+-----+----+-----------------+
|summary| Name| age|       Experience|
+-------+-----+----+-----------------+
|  count|    3|   3|                3|
|   mean| NULL|30.0|7.333333333333333|
| stddev| NULL| 1.0|3.055050463303893|
|    min|Krish|  29|                4|
|    max|Sunny|  31|               10|
+-------+-----+----+-----------------+

In [81]:
# Adding columns in dataframe

In [82]:
df_pyspark=df_pyspark.withColumn('Experience After 2 years', df_pyspark['Experience'] + 2)

In [83]:
df_pyspark.show()

+---------+---+----------+------------------------+
|     Name|age|Experience|Experience After 2 years|
+---------+---+----------+------------------------+
|    Krish| 31|        10|                      12|
|Sudhanshu| 30|         8|                      10|
|    Sunny| 29|         4|                       6|
+---------+---+----------+------------------------+

In [84]:
## Drop the columns

In [85]:
df_pyspark=df_pyspark.drop('Experience After 2 years')

In [86]:
df_pyspark.show()

+---------+---+----------+
|     Name|age|Experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         8|
|    Sunny| 29|         4|
+---------+---+----------+

In [ ]:
#Rename the columns

In [87]:
df_pyspark.withColumnRenamed('Name', 'New Name').show()

+---------+---+----------+
| New Name|age|Experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         8|
|    Sunny| 29|         4|
+---------+---+----------+